.profile__edit-btn {
  width: 24px;
  height: 24px;
  border: 1px solid #FFFFFF;
  background-color: transparent;
  background-image: url("../../../images/btn-edit-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
  padding: 0;
  cursor: pointer;
  margin-left: 18px;
}

@media screen and (max-width: 768px) {
  .profile__edit-btn {
    position: absolute;
    top: 36px;
    right: -28px;
    width: 18px;
    height: 18px;
  }
 }
